@page "/admin/users"
@using NetCorePal.D3Shop.Web.Admin.Client.Extensions
@using NetCorePal.D3Shop.Web.Admin.Client.Components.Identity.User

@attribute [ClientPermission(PermissionCodes.AdminUserManagement)]

<Table
    TItem="AdminUserResponse"
    @ref="_table"
    DataSource="_pagedAdminUsers.Items"
    Total="_pagedAdminUsers.Total"
    @bind-PageIndex="_adminUserQueryRequest.PageIndex"
    @bind-PageSize="_adminUserQueryRequest.PageSize"
    OnChange="Table_OnChange">
    <PaginationTemplate>
        <Pagination Class="@context.PaginationClass"
                    Total="context.Total"
                    PageSize="context.PageSize"
                    Current="context.PageIndex"
                    ShowSizeChanger
                    OnChange="context.HandlePageChange"/>
    </PaginationTemplate>
    <TitleTemplate>
        <GridRow Gutter="8" Justify="space-between">
            <GridCol Span="4">
                <Title Level="3">用户列表</Title>
            </GridCol>
            <GridCol Span="8" Offset="10">
                <Search Placeholder="搜索名称" @bind-Value="_adminUserQueryRequest.Name" OnSearch="() => OnSearch()"/>
            </GridCol>
            <GridCol Span="2">
                <AuthorizeView>
                    @if (context.CheckPermission(PermissionCodes.AdminUserCreate))
                    {
                        <AddAdminUser OnItemAdded="HandleItemAdded"></AddAdminUser>
                    }
                </AuthorizeView>
            </GridCol>
        </GridRow>
    </TitleTemplate>
    <ColumnDefinitions Context="row">
        <PropertyColumn Title="名称" Property="c => c.Name"/>
        <PropertyColumn Title="手机号" Property="c => c.Phone"/>
        <ActionColumn Title="操作">
            <AuthorizeView>
                @if (context.CheckPermission(PermissionCodes.AdminUserUpdateRoles))
                {
                    <CascadingValue Value="@row">
                        <EditUserRoles></EditUserRoles>
                    </CascadingValue>
                }
            </AuthorizeView>
            <AuthorizeView>
                @if (context.CheckPermission(PermissionCodes.AdminUserSetPermissions))
                {
                    <CascadingValue Value="@row">
                        <EditUserPermissions/>
                    </CascadingValue>
                }
            </AuthorizeView>
            <AuthorizeView>
                @if (context.CheckPermission(PermissionCodes.AdminUserDelete))
                {
                    <a @onclick="() => Delete(row)">删除</a>
                }
            </AuthorizeView>
        </ActionColumn>
    </ColumnDefinitions>
</Table>