@using NetCorePal.D3Shop.Domain.AggregatesModel.Identity.AdminUserAggregate
@using NetCorePal.D3Shop.Web.Admin.Client.Components.Identity
<a @onclick="ShowModal">配置权限</a>
<Modal Title="@("配置权限")"
       Visible="@_modalVisible"
       OnOk="Modal_HandleOk"
       OnCancel="() => _modalVisible = false"
       ConfirmLoading="@_modalConfirmLoading">
    <PermissionManager @ref="_permissionManagerComponent" @bind-AssignedPermissionCodes="_assignedPermissionCodes"/>
</Modal>

@code {
    [CascadingParameter] public AdminUserResponse Row { get; set; } = default!;

    [Inject] private IAdminUserService AdminUserService { get; set; } = default!;
    [Inject] private MessageService Message { get; set; } = default!;

    private bool _modalVisible;
    private bool _modalConfirmLoading;

    private string[] _permissionCodesFromRoles = [];
    private List<string> _assignedPermissionCodes = [];
    PermissionManager _permissionManagerComponent = default!;

    private async Task ShowModal()
    {
        _modalVisible = true;

        var adminUserPermissions = await GetAssignedPermissions(Row.Id);

        _permissionCodesFromRoles = adminUserPermissions.Where(p => p.IsFromRole)
            .Select(p => p.Code).ToArray();

        _assignedPermissionCodes = adminUserPermissions.Select(p => p.Code).ToList();

        _permissionManagerComponent.DisabledPermissionCodes = _permissionCodesFromRoles;
        _permissionManagerComponent.Update();
    }

    private async Task<AdminUserAssignedPermissionResponse[]> GetAssignedPermissions(AdminUserId id)
    {
        var response = await AdminUserService.GetAssignedPermissions(id);
        if (response.Success) return response.Data.ToArray();
        _ = Message.Error(response.Message);
        return [];
    }

    private async Task Modal_HandleOk()
    {
        _modalConfirmLoading = true;
        StateHasChanged();

        var permissions = _assignedPermissionCodes.Except(_permissionCodesFromRoles);
        var response = await AdminUserService.SetAdminUserSpecificPermissions(Row.Id, permissions);

        _modalConfirmLoading = false;
        
        if (response.Success)
        {
            _modalVisible = false;
            _ = Message.Success("更新成功！");
        }
        else
        {
            _ = Message.Error(response.Message);
        }
    }

}