@namespace NetCorePal.D3Shop.Web.Admin.Client.Pages.Exception._404
@page "/exception/404"

<Result Status="404"
        Title="404"
        SubTitle="Sorry, the page you visited does not exist.">
    <Extra>
        <Button Type="primary">Back Home</Button>
    </Extra>
</Result>